<header class="main-header">
    <nav class="nav">
        <!-- <div class="container">
            <div class="navbar-header">
                <a routerLink="/" class="navbar-brand"><b>Meat</b></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active"><a routerLink="/">Marvel <span
                                class="sr-only">(current)</span></a></li>
                    <li routerLinkActive="active"><a routerLink="/dc-saga">DC</a></li>
                </ul>
            </div>

        </div> -->

        <input type="checkbox" id="check" onclick="on()">
        <label for="check" class="toggle">
            <p class="guia a"> Marvel</p>
            <p class="guia b">DC</p>
            <div class="chip"></div>
        </label>

    </nav>
</header>