<div class="card mb-3" style="max-width: 600px;">
    <a href="#">
        <div class="place-info-box">
            <span class="place-info-box-icon"><img [src] = "dcs.imagePath"></span>
            <div class="place-info-box-content" id="mute">
                <div class="place-info-box-content" id="mute">
                    <h3 class="d-flex justify-content-center place-info-box-text">{{dcs.nome}}</h3>
                    <span class="place-info-box-star"><i class="fa fa-star"></i> {{dcs.ano}}</span>
                    <span class="place-info-box-detail pt-2"><b>Edições: </b>  {{dcs.edicoes}} </span>
                    <span class="place-info-box-detail"><b>Autor: </b>  {{dcs.autor}}</span>
                    <span class="place-info-box-detail"><b>Desenhista: </b>  {{dcs.desenhista}}</span>
                    <hr>
                    <span class="place-info-box-detail">{{dcs.descricao}}</span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
    </a>
</div>